<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Welcome to my home page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque adipisci harum, dolor nemo, minima cum quo quasi qui eum, ea odit. Perspiciatis tenetur aut, ipsum officiis pariatur repellendus assumenda! Quo.</p>
